<h1>Listing Content Modules <small><%= @arm.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Arm", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.arm_path(@arm) : "#"), class: "btn btn-default" %>
  <%= link_to "New", new_arm_bit_maker_content_module_path(@arm), class: "btn btn-default" %>
  <%= link_to "New Provider", new_arm_bit_maker_content_provider_path(@arm), class: "btn btn-default" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Title</th>
      <th>Tool</th>
      <th>No. of Providers</th>
    </tr>
  </thead>

  <tbody>
    <% for tool in @tools %>
      <% for content_module in tool.content_modules %>
        <tr>
          <td><%= content_module.position %></td>
          <td><%= link_to content_module.title, arm_bit_maker_content_module_path(@arm, content_module) %></td>
          <td><%= tool.title %></td>
          <td><%= content_module.content_providers.count %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  $(function() {
    return $('table').dataTable({
      sPaginationType: 'bootstrap',
      iDisplayLength: 25,
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });
</script>
