<td class="task_title_cell">
	<!-- use CanCanCan instead -->
	<% if current_user.content_author? %>
	  <%= link_to(
	  	arm_bit_maker_content_module_path(
	  		task.group.arm,
	  		task.bit_core_content_module
	  	),
	  	class: "author_title"
	  	  ) do %>
	  	  <%= task.bit_core_content_module.tool.title %>: <%= task.title %>
	  <% end %>
	<% else %>
		<%= task.bit_core_content_module.tool.title %>: <%= task.title %>
	<% end %>
</td>