<h1>Manage Task <small><%= @group.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Group", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.group_path(@group) : "#"), class: "btn btn-default" %>
</div>

<!-- Move this out from index page? -->
<%= form_for @task, as: :task, url: manage_tasks_path, html: { role: "form" } do |f| %>
  <%= f.hidden_field :group_id, value: @group.id %>

  <div class='form-group'>
    <%= f.label :bit_core_content_module_id, "Select Module" %>
    <%= f.select :bit_core_content_module_id, @content_modules.collect {|m| ["#{ m.tool.title }: " + (m.try(:content_providers).try(:first).try(:slideshow).try(:title) || m.title), m.id] }, {}, class: "form-control" %>
  </div>

  <div class='form-group'>
    <%= f.label :release_day, "Release Day" %>
    <%= f.number_field :release_day, class: "form-control" %>
  </div>

  <div class='checkbox'>
    <label for="task_is_recurring">
      <%= f.check_box :is_recurring, {} %> Is this a recurring task?
    </label>
  </div>

  <div class='form-group'>
    <%= f.label :termination_day, "Recurring termination day (if applicable)" %>
    <%= f.number_field :termination_day, class: "form-control" %>
    <p class="help-block">Optional - This is only applicable if the task is recurring and there is a day in the study it should end.</p>
  </div>

  <div class='checkbox'>
    <label for="task_has_didactic_content">
      <%= f.check_box :has_didactic_content, {} %> Does this contain didactic content?
    </label>
  </div>

  <div class="actions">
    <%= f.submit "Assign", class: "btn btn-primary" %>
    <%= link_to "Cancel", :back, class: "btn btn-default" %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Currently Assigned Tasks</h3>
  </div>
  <div class="panel-body">
    <p>This are all the currently assigned tasks for this group</p>
  </div>
  <table class="table table-hover" id="tasks">
    <thead>
      <th>Title</th>
      <th>Release day</th>
      <th>Is recurring?</th>
      <th>Termination day</th>
      <th>Has didactic content?</th>
      <th></th>
    </thead>
    <tbody>
      <% @group.tasks.each do |task|%>
        <tr id="task-<%= task.id %>">
          <td>
            <!-- use CanCanCan instead -->
            <% if current_user.content_author? %>
              <%= link_to "#{task.bit_core_content_module.tool.title}: #{task.try(:title)}", arm_bit_maker_content_module_path(task.group.arm, task.bit_core_content_module) %>
            <% else %>
              <%= "#{task.bit_core_content_module.tool.title}: #{task.try(:title)}" %>
            <% end %>
          </td>
          <td><%= task.release_day %></td>
          <td><%= task.is_recurring %></td>
          <td><%= task.termination_day ? "<span class=\"label label-info\">#{task.termination_day}</span>".html_safe : "N/A" %></td>
          <td><%= task.has_didactic_content %></td>
          <td>
            <%= link_to "Unassign", manage_task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
