<% content_for :left do %>
  <p class="lead">
    You have read <%= pluralize(all_available_tasks.completed.count, "lesson") %> out of <%= all_available_tasks.count %>.
  </p>
  <div id="new_lessons_list" class="list-group">
    <% if oldest_unread_five.count > 0 %>
      <% oldest_unread_five.each do |ts| %>
        <% path = create_task_path(ts) %>
        <a href="<%= path %>" class="list-group-item task-status" id="task-status-<%= ts.id %>" data-task-status-id="<%= ts.id %>">
            <%= todays_lesson(ts, "<p class=\"lesson_details\">today's lesson</p>") %>
            <% title = safe_get_task_title(ts) %>
              <%= title ? title : ts.title %>
        </a>
      <% end %>
    <% else %>
    <div class="list-group">
      <a href="#" class="list-group-item">You've read all the lessons so far.</a>
    </div>
    <% end %>
  </div>
<% end %>
<% content_for :right do %>
  <p class="lead">
    Archived Lessons
  </p>
  <% if all_read_tasks.count > 0 %>
    <div class="list-group">
      <% all_read_tasks.each do |ts| %>
        <% path = create_task_path(ts) %>
        <a href="<%= path %>" class="list-group-item task-status" id="task-status-<%= ts.id %>" data-task-status-id="<%= ts.id %>">
          <% title = safe_get_task_title(ts) %>
          <%= title ? title : ts.title %>
          <p style="margin-top: 5px;margin-bottom:0px;">Released <%= ts.available_for_learning_on.to_s(:brief_date) %></p>
          <p style="margin-top: 5px;margin-bottom:0px;">Read <%= ts.completed_at.to_s(:brief_date) %></p>
        </a>
      <% end %>
    </div>
  <% else %>
    <div class="list-group">
      <a href="#" class="list-group-item">No read lessons yet!</a>
    </div>
  <% end %>
<% end %>
