<style>
  div.panel-heading h3.panel-title span.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;

    float: right;
  }
  a.list-group-item.disabled {
    background-color: #FFF;
  }
  div.panel-heading h3.panel-title span.badge-unreleased {
    color: #A0A0A0;
  }
</style>

<h1>Lessons</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% (1..week_count).to_a.each do |week| %>
    <% task_for_week = all_tasks.where("start_day > ? AND start_day <= ?", week * 7 - 7, week * 7) %>
    <div class="panel panel-default <%= 'panel-info' if  current_participant.active_membership.week_in_study == week %>">
      <div class="panel-heading" role="tab" id="heading<%= week %>">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= week %>" aria-expanded="true" aria-controls="collapse<%= week %>">
            <%= "<i class='fa fa-calendar'></i>".html_safe if current_participant.active_membership.week_in_study == week %>
            Week <%= week %>
          </a>
          <span class="badge <%= 'badge-unreleased' if current_participant.active_membership.week_in_study < week %> "><%= task_for_week.where(completed_at: nil).count %></span>
        </h3>
      </div>
      <div id="collapse<%= week %>" class="panel-collapse collapse <%= 'in' if current_participant.active_membership.week_in_study == week %>" role="tabpanel" aria-labelledby="heading<%= week %>">
        <div class="list-group">
          <% if task_for_week.count == 0 %>
            <div class="panel-body">
              No lessons exist for this week.
            </div>
          <% else %>
            <% task_for_week.each do |ts| %>
              <% release_date = ts.available_for_learning_on %>
              <% path = release_date <= Date.today ? create_task_path(ts) : '#' %>
              <% title = safe_get_task_title(ts) %>
              <a href="<%= path %>" class="list-group-item task-status <%= 'disabled' if release_date > Date.today %>" id="task-status-<%= ts.id %>" data-task-status-id="<%= ts.id %>">
                  <h4 class="list-group-item-heading">
                    <%= title ? title : ts.title %> <%= release_date <= Date.today %>
                  </h4>
                  <p class="list-group-item-text">
                    <% if release_date < Date.today %>
                      <%= ts.completed_at ? "<span class='label label-info'>Read on ".html_safe + ts.completed_at.to_s(:brief_date) + "</span>".html_safe : "<span class='label label-warning'>Unread</span>".html_safe %>
                      Released on <%= release_date.to_s(:brief_date) %>
                    <% else %>
                      Available on <%= release_date.to_s(:brief_date) %>
                    <% end %>
                  </p>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('body').on('click', 'a.disabled', function(event) {
    event.preventDefault();
  });
</script>