<div class="panel panel-default cdb_panel" id="comments-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#commentsCollapse">
        Comments
      </a>
    </h3>
  </div>

  <div id="commentsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover data-table" id="comments_data">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th>Created At</th>
            <th>Study ID</th>
            <th>Text</th>
            <th>Item Id</th>
            <th>Item Type</th>
            <th>Likes</th>
            <th>Comments</th>
          </tr>
          </thead>
          <tbody>

          <% group.memberships.each do |membership| %>
            <% SocialNetworking::Comment.where(participant: membership.participant).each do |comment| %>

              <tr>
                <td class="not-displayed">
                  <%= comment.created_at ? comment.created_at.to_i : 0 %>
                </td>
                <td><%= comment.created_at %></td>
                <td><%= membership.participant.study_id %></td>
                <td><%= comment.text %></td>
                <td><%= comment.item_id %></td>
                <td><%= comment.item_type %></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    return $('#comments_data').dataTable({
      sPaginationType: 'bootstrap',
      order: [[0, "desc"]],
      oLanguage: {
        sSearch: 'Filter: '
      },
      aoColumnDefs: [
        {
          aTargets: [0],
          bVisible: false
        },
        {
          aTargets: [1],
          iDataSort: [0]
        }
      ],
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });
</script>