<div class="panel panel-default cdb_panel" id="goals-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#goalsCollapse">
        Goals
      </a>
    </h3>
  </div>

  <div id="goalsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover data-table" id="goals_data">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th>Created At</th>
            <th>Study ID</th>
            <th>Description</th>
            <th>Is Complete</th>
            <th>Is Deleted</th>
            <th>Due On</th>
            <th>Likes</th>
            <th>Comments</th>
          </tr>
          </thead>
          <tbody>

          <% group.memberships.each do |membership| %>
            <% SocialNetworking::Goal.where(participant: membership.participant).each do |goal| %>

              <tr>
                <td class="not-displayed">
                  <%= goal.created_at ? goal.created_at.to_i : 0 %>
                </td>
                <td><%= goal.created_at.to_formatted_s(:short) %></td>
                <td><%= membership.participant.study_id %></td>
                <td><%= goal.description %></td>
                <td><%= goal.is_completed %></td>
                <td><%= goal.is_deleted %></td>
                <td><%= goal.due_on.to_formatted_s(:short) %></td>
                <td><%= goal.likes.all.count %></td>
                <td><%= goal.comments.all.count %></td>
              </tr>
            <% end %>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    return $('#goals_data').dataTable({
      sPaginationType: 'bootstrap',
      order: [[0, "desc"]],
      oLanguage: {
        sSearch: 'Filter: '
      },
      aoColumnDefs: [
        {
          aTargets: [0],
          bVisible: false
        },
        {
          aTargets: [1],
          iDataSort: [0]
        }
      ],
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });
</script>