<div class="panel panel-default cdb_panel" id="goals-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#goalsCollapse">
        Goals
      </a>
    </h3>
  </div>

  <div id="goalsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover data-table" id="goals_data">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th>Display Name</th>
            <th>Description</th>
            <th>Is Complete</th>
            <th>Is Deleted</th>
            <th>Due On</th>
            <th>Created Date</th>
            <th>Week</th>
            <th>Likes</th>
            <th>Comments</th>
          </tr>
          </thead>
          <tbody>

          <% group.memberships.each do |membership| %>
            <% membership.goals.each do |goal| %>
              <tr>
                <td class="not-displayed">
                  <%= goal.created_at ? goal.created_at.to_i : 0 %>
                </td>
                <td><%= membership.participant.display_name %></td>
                <td><%= goal.description %></td>
                <td><%= goal.is_completed %></td>
                <td><%= goal.is_deleted %></td>
                <td><%= goal.due_on ? goal.due_on.to_formatted_s(:short) : content_tag(:span, "Unscheduled", class: "label label-warning") %></td>
                <td><%= goal.created_at ? goal.created_at.to_formatted_s(:short) : "---" %></td>
                <td><%= week_in_study(goal.created_at, membership) %></td>
                <td><%= goal_like_count(goal) %></td>
                <td><%= goal.comments.all.count %></td>
              </tr>
            <% end %>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    return $('#goals_data').dataTable({
      sPaginationType: 'bootstrap',
      order: [[0, "desc"]],
      oLanguage: {
        sSearch: 'Filter: '
      },
      aoColumnDefs: [
        {
          aTargets: [0],
          bVisible: false
        },
        {
          aTargets: [6],
          iDataSort: [0]
        }
      ],
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });
</script>