<tr>
  <th></td>
  <% (1..study_length_in_weeks).each do |current_week| %>
    <th>week <%= current_week %></th>
  <% end %>
</tr>
<tr>
  <td>logins</td>
  <% (1..study_length_in_weeks).each do |current_week| %>
    <td><%= group.logins_by_week(current_week) %></td>
  <% end %>
</tr>
<tr>
  <td>thoughts</td>
  <% (1..study_length_in_weeks).each do |current_week| %>
    <td><%= group.thoughts_by_week(current_week) %></td>
  <% end %>
</tr>
<tr>
  <td>activities planned</td>
  <% (1..study_length_in_weeks).each do |current_week| %>
    <td><%= group.activities_planned_by_week(current_week) %></td>
  <% end %>
</tr>
<tr>
  <td>activities reviewed</td>
  <% (1..study_length_in_weeks).each do |current_week| %>
    <td><%= group.activities_reviewed_by_week(current_week) %></td>
  <% end %>
</tr>
<tr>
  <td>activities monitored</td>
  <% (1..study_length_in_weeks).each do |current_week| %>
    <td><%= group.activities_monitored_by_week(current_week) %></td>
  <% end %>
</tr>