<h1>Group <small><%= @group.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Group", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.group_path(@group) : "#"), class: "btn btn-default" %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Group Summary</h3>
  </div>

  <div class="panel-body">
    <table class="table">
      <%= render partial: "think_feel_do_engine/coach/group_dashboard/summary", locals: {group: @group} %>
      <%= render(partial: "think_feel_do_engine/coach/group_dashboard/summary_social", locals: {group: @group}) if social_features? %>
    </table>
  </div>
</div>

<a name="login_table" />
<%= render partial: "think_feel_do_engine/coach/group_dashboard/logins", locals: {group: @group} %>

<%= render partial: "think_feel_do_engine/coach/group_dashboard/lessons", locals: {group: @group} %>

<a name="thoughts_table" />
<%= render partial: "think_feel_do_engine/coach/group_dashboard/thoughts", locals: {group: @group} %>

<a name="activities_planned_table" />
<%= render partial: "think_feel_do_engine/coach/group_dashboard/activities_planned", locals: {group: @group} %>

<a name="activities_monitored_table" />
<%= render partial: "think_feel_do_engine/coach/group_dashboard/activities_monitored", locals: {group: @group} %>

<a name="activities_reviewed_table" />
<%= render partial: "think_feel_do_engine/coach/group_dashboard/activities_reviewed", locals: {group: @group} %>

<% if social_features? %>
  <a name="goals_table" />
  <%= render partial: "think_feel_do_engine/coach/group_dashboard/goals", locals: {group: @group} %>

  <a name="comments_table" />
  <%= render partial: "think_feel_do_engine/coach/group_dashboard/comments", locals: {group: @group} %>

  <a name="on_the_mind_statements_table" />
  <%= render partial: "think_feel_do_engine/coach/group_dashboard/on_my_mind_statements", locals: {group: @group} %>
<% end %>


