<% if (description = content_modules.first.try(:tool).try(:description)) %>
  <% content_for(:tool_description) { sanitize(description).gsub(/\n/, "<br><br>").html_safe } %>
<% end %>

<% didactic_modules = content_modules.is_not_viz.is_didactic %>
<% non_didactic_modules = content_modules.is_not_viz.is_not_didactic %>

<% if didactic_modules.all.to_a.count > 0 %>
  <% content_for :left do %>
    <div class="list-group left">
      <% didactic_modules.each do |content_module| %>
        <%# most recent task status for this membership and module %>
        <% task_status = task_status(current_participant.active_membership, content_module) %>
        <% if task_status %>
          <% if task_status.completed_at.nil? %>
            <%= task_status_link(task_status, "list-group-item "\
                                              "list-group-item-unread") %>
          <% else %>
            <%= task_status_link(task_status) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if non_didactic_modules.all.to_a.count > 0 %>
  <% content_for :right do %>
    <div class="list-group right">
      <% non_didactic_modules.each do |content_module| %>
        <%# most recent task status for this membership and module %>
        <% task_status = task_status(current_participant.active_membership, content_module) %>
        <% if task_status %>
          <% if task_status.completed_at.nil? %>
            <%= task_status_link(task_status, "list-group-item "\
                                              "list-group-item-unread", "pencil") %>
          <% else %>
            <%= task_status_link(task_status,"list-group-item list-group-item-read", "pencil") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_modules.is_viz.each do |content_module| %>
  <br>
  <%= content_module
      .content_providers
      .order(:position)
      .first
      .render_current(
        Struct.new(:view_context, :app_context, :position, :participant)
        .new(self, nil, nil, current_participant),
        navigator_location_path(
          module_id: content_module.id
        )
      )
      .html_safe
      # render the viz provider
  %>
<% end %>
