<% if (description = content_modules.first.try(:tool).try(:description)) %>
  <% content_for(:tool_description) { sanitize(description).gsub(/\n/, "<br><br>").html_safe } %>
<% end %>

<% group_id = current_participant.active_group.id %>
<% didactic_modules = content_modules.didactic(group_id) %>
<% non_didactic_modules = content_modules.non_didactic(group_id) %>

<% if didactic_modules.count > 0 %>
  <% content_for :left do %>
    <div class="list-group left">
      <% didactic_modules.each do |content_module| %>
        <%# most recent task status for this membership and module %>
        <% task_status = task_status(current_participant.active_membership, content_module) %>
        <% if task_status %>
          <% if task_status.completed_at.nil? %>
            <%= task_status_link(task_status, "list-group-item "\
                                              "list-group-item-unread") %>
          <% else %>
            <%= task_status_link(task_status) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if non_didactic_modules.count > 0 %>
  <% content_for :right do %>
    <div class="list-group right">
      <% content_modules.non_didactic(group_id).each do |content_module| %>
        <%# most recent task status for this membership and module %>
        <% task_status = task_status(current_participant.active_membership, content_module) %>
        <% if task_status %>
          <% if task_status.completed_at.nil? %>
            <%= task_status_link(task_status, "list-group-item "\
                                              "list-group-item-unread", "pencil") %>
          <% else %>
            <%= task_status_link(task_status,"list-group-item list-group-item-read", "pencil") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_modules.each do |content_module| %>
  <%# most recent task status for this membership and module %>
  <% task_status = task_status(current_participant.active_membership, content_module) %>
  <% if task_status && task_status.provider_viz? %>
    <br>
    <%= task_status
        .bit_core_content_module
        .content_providers
        .order(:position)
        .first
        .render_current(
          Struct.new(:view_context, :app_context, :position, :participant)
          .new(self, nil, nil, current_participant),
          navigator_location_path(
            module_id: task_status.bit_core_content_module_id
          )
        )
        .html_safe 
        # render the viz provider
    %>
  <% end %>
<% end %>
