<h2>PHQ assessments for <%= @participant.study_id %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Release date</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Q7</th>
      <th>Q8</th>
      <th>Q9</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phq_assessments.each do |phq| %>
      <tr>
        <td><%= phq.release_date %></td>
        <td><%= phq.q1 %> <%= fa_icon("flag") if phq.q1_editor_id %></td>
        <td><%= phq.q2 %> <%= fa_icon("flag") if phq.q2_editor_id %></td>
        <td><%= phq.q3 %> <%= fa_icon("flag") if phq.q3_editor_id %></td>
        <td><%= phq.q4 %> <%= fa_icon("flag") if phq.q4_editor_id %></td>
        <td><%= phq.q5 %> <%= fa_icon("flag") if phq.q5_editor_id %></td>
        <td><%= phq.q6 %> <%= fa_icon("flag") if phq.q6_editor_id %></td>
        <td><%= phq.q7 %> <%= fa_icon("flag") if phq.q7_editor_id %></td>
        <td><%= phq.q8 %> <%= fa_icon("flag") if phq.q8_editor_id %></td>
        <td><%= phq.q9 %> <%= fa_icon("flag") if phq.q9_editor_id %></td>
        <td><%= link_to 'Edit', edit_coach_phq_assessment_path(phq, participant_id: @participant.id) %></td>
        <td><%= link_to 'Delete', coach_phq_assessment_path(phq, participant_id: @participant.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{ fa_icon('plus') } New Phq assessment".html_safe, new_coach_phq_assessment_path(participant_id: @participant.id), class: "btn btn-default" %>
<%= link_to "#{ fa_icon('chevron-up') } Patient dashboard".html_safe, coach_group_patient_dashboard_path(@participant.active_group, @participant), class: "btn btn-default" %>
