<% if (description = tool.description) %>
  <% content_for(:tool_description) { sanitize(description).gsub(/\n/, "<br><br>").html_safe } %>
<% end %>

<% if coach.nil? %>
  <p class="lead">You will be able use this tool once you have been assigned a coach</p>
<% elsif current_participant.active_membership.present? %>
  <div class="btn-toolbar">
    <%= link_to compose_path, class: "btn btn-primary" do %>
      <%= fa_icon "pencil" %> Compose
    <% end %>
  </div>
<% end %>

<ul class="nav nav-tabs" id="messages-tab">
 <li><a href="#inbox" data-toggle="tab">Inbox (<%= received_messages.unread.count %>)</a></li>
 <% if sent_messages.count > 0 %>
   <li><a href="#sent" data-toggle="tab">Sent</a></li>
 <% end %>
</ul>

<div class="tab-content">
  <div id="scroll_btn" class="landing"></div>
  <div class="tab-pane" id="inbox">
  <% if received_messages.empty? %>
    <br>
    <p>No messages to display.</p>
  <% end %>
    <div class="list-group">
      <% received_messages.each do |received_message| %>
        <%= link_to show_path.call(message_id: received_message.message_id), class: "list-group-item clearfix #{ received_message.is_read ? "text-muted" : "list-group-item-read" }" do %>
          <div class="col-xs-8 col-sm-10 col-md-3"><%= truncate received_message.from, length: 18 %></div>
          <div class="col-xs-12 col-xs-push-0 col-sm-12 col-sm-push-0 col-md-7"><%= received_message.subject %></div>
          <div class="col-xs-pull-0 col-sm-pull-0 col-md-2"><%= received_message.created_at.to_s :compact %></div>
        <% end %>
      <% end %>
    </div>  
  </div>

  <% if sent_messages.count > 0 %>
    <div class="tab-pane" id="sent">
      <div class="list-group">
        <% user = current_user || current_participant %>
        <% sent_messages.each do |msg| %>
          <%= link_to show_path.call(message_id: msg.id), class: "text-muted list-group-item clearfix" do %>
            <div class="col-xs-8 col-sm-10 col-md-3">To: <%= truncate msg.to(user), length: 15 %></div>
            <div class="col-xs-12 col-xs-push-0 col-sm-12 col-sm-push-0 col-md-7"><%= msg.subject %></div>
            <div class="col-xs-pull-0 col-sm-pull-0 col-md-2"><%= msg.created_at.to_s :compact %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
