<% if coach.nil? %>
  <p class="lead">You will be able use this tool once you have been assigned a coach</p>
<% elsif current_participant.active_membership.present? %>
  <div class="btn-toolbar">
    <%= link_to compose_path, class: "btn btn-primary" do %>
      <%= fa_icon "pencil" %> Compose
    <% end %>
  </div>
<% end %>

<ul class="nav nav-tabs" id="messages-tab">
  <li><a href="#inbox" data-toggle="tab">Inbox (<%= received_messages.unread.count %>)</a></li>
  <% if sent_messages.count > 0 %>
    <li><a href="#sent" data-toggle="tab">Sent</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="scroll_btn" class="landing"></div>

  <div class="tab-pane" id="inbox">
    <div class="list-group">
      <% received_messages.each do |received_message| %>
        <%= link_to show_path.call(message_id: received_message.message_id), class: "list-group-item clearfix #{ received_message.is_read ? "text-muted" : "list-group-item-read" }" do %>
          <span class="p_message"><%= received_message.from %></span>
          <span class="p_message pull-right"><%= received_message.created_at.to_s(:date_time_with_meridian) %></span>
          <span class="col-md-4 p_message_subject"><%= received_message.subject %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if sent_messages.count > 0 %>
    <div class="tab-pane" id="sent">
      <div class="list-group">
        <% user = current_user || current_participant %>
        <% sent_messages.each do |msg| %>
          <%= link_to show_path.call(message_id: msg.id), class: "text-muted list-group-item" do %>
            <span class="p_message">To: <%= msg.to user %></span>
            <span class="p_message pull-right"><%= msg.created_at.to_s :date_time_with_meridian %></span>
            <span class="col-md-4 p_message_subject"><%= msg.subject %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
