<div class="<%= (can? :access, :rails_admin) ? 'btn-toolbar ' : 'btn-group ' %> hidden-print">
  <% if can? :access, :rails_admin %>

    <%= link_to "Admin", rails_admin_path, class: "btn btn-default" %>

    <%= link_to "Tools", bit_maker_tools_path, class: "btn btn-default#{ current_page?(bit_maker_tools_path) ? ' active' : '' }" %>

    <%= link_to "Modules", bit_maker_content_modules_path, class: "btn btn-default#{ current_page?(bit_maker_content_modules_path) ? ' active' : '' }" %>

    <%= link_to "Providers", bit_maker_content_providers_path, class: "btn btn-default#{ current_page?(bit_maker_content_providers_path) ? ' active' : '' }" %>

  <% end %>

  <% if can? :index, :slideshow %>
    <%= link_to "Slideshows", bit_maker_slideshows_path, class: "btn btn-default#{ current_page?(bit_maker_slideshows_path) ? ' active' : '' }" %>
  <% end %>

  <% if can? :index, ContentModules::LessonModule %>
    <%= link_to "Lessons", lessons_path, class: "btn btn-default#{ current_page?(lessons_path) ? ' active' : '' }" %>
  <% end %>

  <% if can? :index, :slide %>
    <%= link_to "Slides", bit_maker_slides_path, class: "btn btn-default#{ current_page?(bit_maker_slides_path) ? ' active' : '' }" %>
  <% end %>

  <% if can? :index, :group %>
    <%= link_to "Groups", manage_groups_path, class: "btn btn-default#{ current_page?(manage_groups_path) ? ' active' : '' }" %>
  <% end %>

  <%= link_to "Patients", coach_patient_dashboards_path, class: "btn btn-default#{ current_page?(coach_patient_dashboards_path) ? ' active' : '' }" %>

  <%= link_to "Messaging", coach_messages_path, class: "btn btn-default#{ current_page?(coach_messages_path) || current_page?(coach_received_message_path(params[:id] || 0)) || current_page?(coach_sent_message_path(params[:id] || 0)) ? ' active' : '' }" %>

  <%= link_to "Compose", new_coach_message_path, class: "btn btn-default #{current_page?(new_coach_message_path) ? ' active' : '' }" %>

  <%= link_to "Reports", reports_path, class: "btn btn-default" %>
</div>
