<%= form.label name, label, for: "#{ name }_#{ object.id }" %><br>

<div class="form-group">
  <select id="<%= prefix %>[<%= name %>]" name="<%= prefix %>[<%= name %>]">
    <% (0..10).each do |value| %>
      <option value="<%= value %>">
        <% if value == 0 || value == 5 || value == 10 %>
          <% suffix = (value == 0)? min_text : ((value == 5)? mid_text : max_text) %>
          <%= value.to_s + " (" + suffix + ")" %>
        <% else %>
          <%= value %>
        <% end %>
      </option>
    <% end %>
  </select>
</div>
