<h2>Edit Lesson <small><%= @lesson.pretty_title %></small></h2>

<%= form_for(@lesson, as: :lesson, url: lesson_path(@lesson)) do |f| %>
  <%= render partial: "form", locals: { form: f } %>

	<%= f.submit "Update", class: "btn btn-default" %>
	<%= link_to "Cancel", lessons_path, class: "btn btn-default" %>
<% end %>
