<h1>Listing Lesson Modules <small><%= @arm.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Arm", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.arm_path(@arm) : "#"), class: "btn btn-default" %>
	<%= link_to "New", new_arm_lesson_path(@arm), class: "btn btn-default" %>
	<%= link_to "All Content", arm_lessons_all_content_path(@arm), class: "btn btn-default", data: { no_turbolink: true } %>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Position</th>
			<th>Title</th>
			<th>No. of Slides</th>
			<th></th>
		</tr>
	</thead>
  <tbody id="sortable-slides" data-update-url="<%= sort_arm_lessons_url(@arm, @lesson) %>">
		<% @lessons.each do |lesson| %>
			<tr id="lesson-<%= lesson.id %>">
				<td>
					<span class="handle"><%= fa_icon("sort", class: "fa-lg") %></span>
					<%= lesson.position %>
				</td>
				<td>
					<%= link_to lesson.pretty_title, arm_lesson_path(@arm, lesson) %>
				</td>
				<td><%= lesson.slides.count %></td>
				<td>
					<%= link_to "Edit", edit_arm_lesson_path(@arm, lesson), class: "btn btn-default" %>
					<%= link_to "Delete", arm_lesson_path(@arm, lesson), :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
