<h1>Lesson <small><%= @lesson.pretty_title %></small></h1>

<div class="btn-toolbar" role="toolbar">
	<%= link_to "Lessons", arm_lessons_path, class: "btn btn-default" %>
	<%= link_to "Add Slide", new_arm_lesson_lesson_slide_path(@arm, @lesson), class: "btn btn-default" %>
  <%= link_to "Add Video Slide", new_arm_lesson_lesson_slide_path(@arm, @lesson, slide: { type: "BitCore::VideoSlide" }), class: "btn btn-default" %>
  <%= link_to "Edit", edit_arm_lesson_path(@arm, @lesson), class: "btn btn-default" %>
</div>

<h3>Slides</h3>
<ol id="sortable-slides" data-update-url="<%= sort_arm_lesson_lesson_slides_url(@arm, @lesson) %>">
	<% @lesson.slides.each do |slide| %>
		<li class="slide" id="slide_<%= slide.id %>">
			<span>
				<span class="handle"><%= fa_icon("sort", class: "fa-lg") %></span>
			</span>

			<span>
				<%= link_to slide.title, arm_lesson_lesson_slide_path(@arm, @lesson, slide) %>
			</span>

			<span>
				<%= link_to "Edit", edit_arm_lesson_lesson_slide_path(@arm, @lesson, slide), class: "btn btn-default" %>
				<%= link_to "Remove", arm_lesson_lesson_slide_path(@arm, @lesson, slide), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
			</span>
		</li>
	<% end %>
</ol>

