<h1>Content Providers <small><%= @arm.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Arm", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.arm_path(@arm) : "#"), class: "btn btn-default" %>
  <%= link_to "New", new_arm_bit_maker_content_provider_path(@arm), class: "btn btn-default" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Module</th>
      <th>Position</th>
      <th>Tool</th>
    </tr>
  </thead>

  <tbody>
    <% @content_providers.includes(content_module: :tool).each do |content_provider| %>
      <tr>
        <td><%= link_to content_provider.pretty_label, arm_bit_maker_content_provider_path(@arm, content_provider) %></td>
        <td><%= link_to content_provider.content_module.title, arm_bit_maker_content_module_path(@arm, content_provider.content_module) %></td>
        <td><%= content_provider.position %></td>
        <td><%= content_provider.content_module.tool.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function() {
    return $('table').dataTable({
      iDisplayLength: 25
    });
  });
</script>
