<% tool_navs = ToolNavItem.for_participant(current_participant) %>

<li class="custom-snap-width">
  <%= link_to fa_icon("home", text: "Home"), brand_location, data: { no_turbolink: true } %>
</li>
<% tool_navs.each do |tool_nav| %>
  <li class="custom-snap-width <%= tool_nav.title %><%= tool_nav.is_active?(@navigator.current_module) ? " active" : "" %>">
    <%= link_to think_feel_do_engine.navigator_context_path(context_name: tool_nav.title), data: { no_turbolink: true } do %>
      <%= tool_nav.title %>
      <% unless tool_nav.alert.nil? %>
        <span class="badge badge-do"><%= tool_nav.alert %></span>
      <% end %>
    <% end %>
  </li>
<% end %>

<% if current_participant %>
  <li class="custom-snap-width"><%= link_to fa_icon("sign-out", text: "Sign Out"), think_feel_do_engine.destroy_participant_session_path, method: :delete %></li>
<% end %>
