<% if (intro = SlideshowAnchor.fetch(:home_intro)) %>
  <li>
    <%= link_to "Replay Intro", think_feel_do_engine.participants_public_slideshow_slide_path(slideshow_id: intro.id, id: intro.slides.first.id) %>
  </li>
<% end %>

<% BitCore::Tool.where(arm_id: current_participant.try(:active_group).try(:arm_id)).where.not(title: "home").all.each do |tool|  %>
  <li class="snap-nav-item <%= tool.title %> visible-xs <%= active_tool(@navigator.context, tool) %>">
    <%= link_to assign_tool(tool), think_feel_do_engine.navigator_context_path(context_name: tool.title), class: "" %>
  </li>
<% end %>

<% if current_participant %>
  <li><%= link_to fa_icon("sign-out", text: "Sign Out"), think_feel_do_engine.destroy_participant_session_path, method: :delete %></li>
<% end %>
