<nav id="SCNavbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if @navigator %>
        <button id="hamburger_button" type="button" class="navbar-toggle pull-left">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if @navigator %>
      <div class="collapse navbar-collapse" id="sc-hamburger-menu">
        <ul id="header-navbar" class="nav navbar-nav">
          <li class="<%= 'active' if @navigator.context == 'home' %>"><%= link_to "Home", "/" %></li>

          <% if (intro = SlideshowAnchor.fetch(:home_intro)) %>
            <li>
              <%= link_to "Replay Introduction", participants_slideshow_slide_path(slideshow_id: intro.id, id: intro.slides.first.id) %>
            </li>
          <% end %>

          <% BitCore::Tool.where('title != ?', "home").all.each do |tool|  %>
            <% if no_submenu?(tool) %>
              <li class="<%= tool.title %> hidden-xs <%= active_tool(@navigator.context, tool) %>">
                <%= link_to assign_tool(tool), navigator_context_path(context_name: tool.title), class: make_room_for_badge(tool) %>
              </li>
            <% else %>
              <li class="<%= tool.title %> dropdown <%= active_tool(@navigator.context, tool) %> hidden-xs">
                <a class="<%= make_room_for_badge(tool) %> dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= assign_tool(tool) %>
                </a>

                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "#{tool.title} Landing", navigator_context_path(context_name: tool.title) %>
                  </li>

                  <% if content_module_tasks(tool.title, "").count > 0 %>
                    <li class="divider"></li>

                    <% content_module_tasks(tool.title, "").each do |link| %>
                      <li <%= link == "DIVIDE" ? "class='divider'".html_safe : "" %> > <%= link == "DIVIDE" ? "" : link %></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_participant %>
            <li><%= link_to fa_icon("sign-out", text: "Sign Out"), destroy_participant_session_path, method: :delete %></li>
          <% end %>
        </ul>

        <% if current_participant %>
          <p class="navbar-text navbar-right">Signed in as <%= current_participant.email %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
