<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p>Password must include:</p>
  <ul>
    <li>AT LEAST 8 characters (but no more than 128)</li>
    <li>AT LEAST 1 lowercase and 1 UPPERCASE letter</li>
    <li>AT LEAST 1 number</li>
  </ul>

  <p>Password cannot include:</p>
  <ul>
    <li>The same number or letter more than twice in a row (11 is okay, 111 is
        not okay)</li>
    <li>Your email address</li>
  </ul>

  <div class="form-group">
  	<%= f.label :password, "New password" %>
	  <%= f.password_field :password, :autofocus => true, class: "form-control" %>
    <strong>Password strength</strong> <span id="password-strength"><span class="text-danger">Weak</span></span>
	</div>

  <div class="form-group">
  	<%= f.label :password_confirmation, "Confirm new password" %>
	  <%= f.password_field :password_confirmation, class: "form-control" %>
	</div>

  <div><%= f.submit "Change my password", class: "btn btn-default" %></div>
<% end %>

<%= render "devise/shared/links" %>
