<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p>Instead of creating a password, we would like you to create a passphrase. Passphrases are easier to remember and harder to crack. A passphrase is a series of words with spaces between them. Your passphrase should be longer than 3 words and should not contain common phrases (including those found in music or literature) and any part of your username or real name. A stronger passphrase would include numbers and symbols as well as creative spellings of common words. The easiest way to create a strong passphrase by using 4 unrelated words.</p>

  <div class="form-group">
  	<%= f.label :password, "New password" %>
	  <%= f.password_field :password, :autofocus => true, class: "form-control" %>
    <strong>Password strength</strong> <span id="password-strength"><span class="text-danger">Weak</span></span>
	</div>

  <div class="form-group">
  	<%= f.label :password_confirmation, "Confirm new password" %>
	  <%= f.password_field :password_confirmation, class: "form-control" %>
	</div>

  <div><%= f.submit "Change my password", class: "btn btn-default" %></div>
<% end %>

<%= render "devise/shared/links" %>
