<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Think Feel Do</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "engine", media: "all", "data-turbolinks-track" => true %>
    <% if request.variant.include? :phone %>
      <%= stylesheet_link_tag "mobile", media: "all", "data-turbolinks-track" => true %>
    <% end %>
    <%= stylesheet_link_tag "think_feel_do_engine/print", media: "print", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <% if current_user %>
      <%= javascript_include_tag "think_feel_do_engine/users" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrap" class="snap-content footless">
      <div id="footer-wrap">
        <div id="main">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <%= link_to "ThinkFeelDo", main_app.root_url, class: "navbar-brand", data: { no_turbolink: true } %>

                <ul class="nav navbar-nav pull-right visible-xs-block">
                  <%= yield :mobile_nav_right_item %>
                </ul>
              </div>

              <% unless request.variant.include? :phone %>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav">
                    <%= yield :desktop_nav_items %>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <% if current_participant %>
                      <li><%= link_to fa_icon("sign-out", text: "Sign Out"), destroy_participant_session_path, method: :delete %></li>
                    <% elsif current_user %>
                      <li><%= link_to fa_icon("sign-out", text: "Sign Out"), destroy_user_session_path, method: :delete %></li>
                    <% end %>
                  </ul>

                  <% if current_participant %>
                    <p class="navbar-text navbar-right">Signed in as <%= current_participant.email %></p>
                  <% elsif current_user %>
                    <p class="navbar-text navbar-right">Signed in as <%= current_user.email %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </nav>

          <div class="container" id="alerts">
            <%= render 'think_feel_do_engine/shared/alerts' %>
          </div>

          <div class="container" id="tool-layout">
            <% if content_for(:tool_description) %>
              <div class="row">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal">
                  About this tool
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">About this tool</h4>
                      </div>
                      <div class="modal-body">
                        <%= yield(:tool_description) %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-6">
                <% if content_for(:left) && content_for(:right) %>
                  <h3>How-to Guides</h3>
                <% end %>

                <%= yield :left %>
              </div>

              <div class="col-md-6">
                <% if content_for(:left) && content_for(:right) %>
                  <h3>Actions</h3>
                <% end %>

                <%= yield :right %>
              </div>
            </div>

            <%= yield %>
          </div>
        </div>
      </div>

      <%= render 'think_feel_do_engine/shared/footer' %>
    </div>

    <% if request.variant.include?(:phone) %>
      <div class="snap-drawers hidden-print">
        <div class="snap-drawer snap-drawer-left">
          <ul id="snap-navbar" class="nav navbar-nav navbar-snap">
            <%= yield :mobile_nav_items %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= yield :bottom %>

    <% if request.variant.include?(:phone) %>
      <script type="text/javascript">
        var snapper = new Snap({
          element: document.getElementById("wrap"),
          disable: "right"
        });
        snapper.disable();
        $("#hamburger_button").on("click", function() {
          snapper.enable();
          if ($("body").hasClass("snapjs-left")) {
            snapper.close();
          } else {
            snapper.open('left');
          }
        });

        snapper.on("close", function() {
          snapper.disable();
        });

        var enable_mobile_page = function() {
          $(window).on('resize', function() { snapper.close(); });
        }
        $(document).ready(enable_mobile_page);
        $(document).on('page:load', enable_mobile_page);
      </script>
    <% end %>
  </body>
</html>
