<%= f.hidden_field :type %>

<div class="form-group">
	<%= f.label :title %>
  <%= f.text_field :title, class: "form-control", contenteditable: true %>
</div>

<% if @slide.type == "BitCore::VideoSlide" %>
  <div class="form-group">
    <%= f.label :options_vimeo_id, "Vimeo ID" %>
    <%= text_field_tag "slide[options][vimeo_id]", (@slide.options || {})[:vimeo_id], class: "form-control" %>
  </div>
<% end %>

<% if @slide.type == "BitCore::AudioSlide" %>
  <div class="form-group">
    <%= f.label :options_audio_url, "Audio URL" %>
    <%= text_field_tag "slide[options][audio_url]", (@slide.options || {})[:audio_url], class: "form-control" %>
  </div>
<% end %>

<div class="checkbox">
  <label for="slide_is_title_visible">
    <%= f.check_box :is_title_visible %> Display Title For Slide
  </label>
</div>

<div class="form-group">
  <%= f.label :body, for: "source" %>
  <div class="row">
    <div class="col-md-6">
      <div class="editable" contenteditable="true">
        <%= sanitize(slide.body) %>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Preview</h3>

      <div class="panel panel-default">
        <div class="panel-body" id="preview">
          <%= slide.render_body %>
        </div>
      </div>
    </div>
  </div>
  <% if Rails.env.test? %>
    <%= f.text_area :body, id: "source", class: "form-control", :rows => "10" %>
  <% else %>
    <%= f.text_area :body, id: "source", class: "form-control not-displayed", rows: "10" %>
  <% end %>
</div>

<div class="modal fade" id="helpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Markdown Guide</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              Heading<br>
              =======
            </p>
            <p>
              Sub-heading<br>
               -----------
            </p>
            <p>
              ### Another deeper heading
            </p>
            <p>
              Paragraphs are separated<br>
              by a blank line.
            </p>
            <p>
              Let 2 spaces at the end of a line to do a<br>
              line break
            </p>
            <p>
              Text attributes <br>
              *italic*,<br>
              **bold**,<br>
              `monospace`,<br>
              ~~monospace~~,<br>
              `monospace` .
            </p>
            <p>
              A [link](http://example.com).<br>
              <<<   No space between ] and (  >>>
            </p>
            <p>
              Shopping list:<br>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;* apples<br>
              &nbsp;&nbsp;&nbsp;&nbsp;* oranges<br>
              &nbsp;&nbsp;&nbsp;&nbsp;* pears
            </p>
            <p>
              Numbered list:<br>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;1. apples<br>
              &nbsp;&nbsp;&nbsp;&nbsp;2. oranges<br>
              &nbsp;&nbsp;&nbsp;&nbsp;3. pears
            </p>
            <p>
              The rain---not the reign---in<br>
              Spain.
            </p>
          </div>
          <div class="col-md-6">
            <h1>Heading</h1>

            <h2>Sub-heading</h2>

            <h3>Another deeper heading</h3>

            <p>Paragraphs are separated
            by a blank line.</p>

            <p>Let 2 spaces at the end of a line to do a<br />
            line break</p>

            <p>Text attributes <em>italic</em>,
            <strong>bold</strong>,
            <code>monospace</code>.</p>

            <p>A <a href="http://example.com">link</a>.</p>

            <p>Shopping list:</p>

            <ul>
            <li>apples</li>
            <li>oranges</li>
            <li>pears</li>
            </ul>

            <p>Numbered list:</p>

            <ol>
            <li>apples</li>
            <li>oranges</li>
            <li>pears</li>
            </ol>

            <p>The rain&mdash;not the
            reign&mdash;in Spain.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  function editableBody() {
    $(".editable").markdown({
      fullscreen: { enable: false },
      resize: "vertical",
      hiddenButtons: "cmdPreview",
      height: 400,
      width: "col-md-12",
      iconlibrary: "fa",
      additionalButtons: [
        [
          {
            name: "groupCustom",
            data: [{
              name: "helpModal",
              title: "Help",
              icon: "fa fa-question",
              callback: function(e){
                //render bootstrap modal
                $('#helpModal').modal('show')
              }
            }],
          },
          {
            name: "utility",
            data: [{
              name: "wordCleaner",
              title: "Clean",
              icon: "fa fa-refresh",
              callback: function(e){
                //clean word input
                $('.md-input').val(cleanWordClipboard($('.md-input').val()));
              }
            }]
          }]
        ],
      onChange: function(e) {
        $("#source").val(e.getContent());
        $.post("<%= think_feel_do_engine.arm_bit_maker_slide_preview_path %>",
               { content: e.getContent() })
         .done(function(preview) {
           $("#preview").html(preview);
         })
         .fail(function() {
           $("#preview").html("Unable to display a preview at this time");
         });
      }
    });
  }

  $(document).on("page:change page:load", editableBody);
</script>
