<div class="tool-content well well-lg">
  <div class="slide">
    <h1>
      <%= slide.position %>.
      <%= slide.title %>
    </h1>
  </div>

  <div class="btn-toolbar hidden-print">
    <%= link_to "View", arm_bit_maker_slideshow_slide_path(@arm, slideshow, slide), class: "btn btn-default" %>
    <%= link_to "Edit", edit_arm_bit_maker_slideshow_slide_path(@arm, slideshow, slide), class: "btn btn-default" %>
    <%= link_to "Remove", arm_bit_maker_slideshow_slide_path(@arm, slideshow, slide), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>

  <%= slide.render_body %>

  <% case slide.class.to_s %>
  <% when 'BitCore::VideoSlide' %>
    <%= render 'think_feel_do_engine/slides/video', slide: slide %>
  <% when 'BitCore::AudioSlide' %>
    <%= render 'think_feel_do_engine/slides/audio', slide: slide %>
  <% end %>
</div>
