<% events.each do |event| %>
  <tr>
    <td class="not-displayed">
      <%= (event.participant.active_membership.start_date + event.task_release_day - 1) ? (event.participant.active_membership.start_date + event.task_release_day - 1).to_time.to_i : 0 %>
    </td>
    <td><%= event.slide.title %></td>
    <td><%= (event.participant.active_membership.start_date + event.task_release_day - 1).to_date.to_s(:user_date) %></td>
    <td><%= event.created_at.to_s(:standard) %></td>
    <td><%= event.end_time.to_s(:standard) unless event.end_time.nil? %></td>
    <td><%= event.end_time ? distance_of_time_in_words(event.end_time - event.created_at) : "<span class='label label-warning'>Not Completed</span>".html_safe %></td>
  </tr>
<% end %>
