<% ThinkFeelDoEngine::MediaAccessEventPresenter.new(event: event, start_date: view_membership(@participant, @group).start_date) do |presenter| %>
  <tr>
    <td class="not-displayed">
      <%= presenter.sortable %>
    </td>
    <td><%= presenter.title %></td>
    <td><%= presenter.available_on %></td>
    <td><%= presenter.formatted_start_time %></td>
    <td>
      <% if presenter.completed %>
        <%= presenter.formatted_end_time %>
      <% else %>
        <span class="label label-warning">Not Completed</span>
      <% end %>
    </td>
    <td>
      <% if presenter.completed %>
        <%= distance_of_time_in_words(presenter.duration_of_session) %>
      <% else %>
        <span class="label label-warning">Not Completed</span>
      <% end %>
    </td>
  </tr>
<% end %>
