<% present event, ThinkFeelDoEngine::Presenters::MediaAccessEvent do |event_presenter| %>
  <tr>
    <td class="not-displayed">
      <%= event_presenter.since_task_relased %>
    </td>
    <td><%= event_presenter.title %></td>
    <td><%= event_presenter.day_available %></td>
    <td><%= event_presenter.started %></td>
    <td><%= event_presenter.end_datetime %></td>
    <td>
      <% if event_presenter.completed? %>
        <%= distance_of_time_in_words(event_presenter.duration) %>
      <% else %>
        <%= content_tag(:span, "Not Completed", class: ["label", "label-warning"]) %>
    <% end %>
    </td>
  </tr>
<% end %>
