<% present event, ThinkFeelDoEngine::MediaAccessEventPresenter do |presenter| %>
  <tr>
    <td class="not-displayed">
      <%= presenter.sortable %>
    </td>
    <td><%= presenter.title %></td>
    <td><%= presenter.date_when_available %></td>
    <td><%= presenter.formatted_start_time %></td>
    <td>
      <% if presenter.completed? %>
        <%= presenter.formatted_end_time %>
      <% else %>
        <%= content_tag(:span, "Not Completed", class: ["label", "label-warning"]) %>
      <% end %>
    </td>
    <td>
      <% if presenter.completed? %>
        <%= distance_of_time_in_words(presenter.duration_of_session) %>
      <% else %>
        <%= content_tag(:span, "Not Completed", class: ["label", "label-warning"]) %>
      <% end %>
    </td>
  </tr>
<% end %>
