<%= form_for(@site_message, url: coach_group_site_messages_path(@group), html: { role: "form" }) do |f| %>
  <% if @site_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_message.errors.count, "error") %> prohibited this site_message from being saved:</h2>

      <ul>
      <% @site_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag "from", nil, class: "control-label" %>
    <p class="form-control-static"><%= host_email_link %></p>
  </div>

  <div class="form-group">
    <%= f.label :participant_id %>
    <%= f.select :participant_id, @participants.collect { |p| [ p.study_id, p.id ] }, { include_blank: true }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send", class: "btn btn-primary"  %>
    <%= link_to "Cancel", coach_group_site_messages_path(@group), class: "btn btn-default" %>
  </div>
<% end %>
