<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        General Patient Info
      </h3>
    </div>

    <div class="panel-body">
      <% if view_membership(@participant, @group) %>
        <p>
          <strong>Started on:</strong>
          <%= l(view_membership(@participant, @group).start_date, format: :standard) %>
        </p>
        <p>
          <strong><%= study_length_in_weeks %> weeks from the start date is:</strong>
          <%= l(view_membership(@participant, @group).start_date + study_length_in_weeks.weeks, format: :standard) %>
        </p>
      <% end %>

      <p>
        <strong>Status:</strong>
        <% if view_membership(@participant, @group).end_date > Date.current %>
          <span class="label label-success full-size">Active</span>
        <% else %>
          <span class="label label-warning full-size">Inactive</span>
        <% end %>
        <% if view_membership(@participant, @group).end_date > Date.current %>
          Currently in week <%= (view_membership(@participant, @group).day_in_study / 7.0).ceil %>
        <% else %>
          Study has been Completed
        <% end %>
      </p>

      <p>
        <strong>Lessons read this week:</strong>
        <%= view_membership(@participant, @group).lessons_read_for_week.count %>
      </p>

    </div>
  </div>
</div>