<table id="<%= @participant.id %>-summary-totals" class="table table-hover">
  <thead>
  <tr><th>Tool Use</th><th>Today</th><th>Last 7 Days</th><th>Totals</th></tr>
  </thead>
  <tbody>
  <tr id="<%= @participant.id %>-lesson-totals">
    <td><a href="#">Lessons Read</a></td>
    <td><%= @participant.active_membership.lessons_read_for_day(Date.today).count %></td>
    <td><%= @participant.active_membership.lessons_read_for_week.count %></td>
    <td><%= @participant.active_membership.lessons_read.count %></td>
  </tr>
  <tr id="<%= @participant.id %>-mood-totals">
    <td><a href="#">Moods</a></td>
    <td><%= @participant.moods.for_day(Date.today).count %></td>
    <td><%= @participant.moods.last_seven_days.count %></td>
    <td><%= @participant.moods.count %></td>
  </tr>
  <tr id="<%= @participant.id %>-thought-totals">
    <td><a href="#">Thoughts</a></td>
    <td><%= @participant.thoughts.for_day(Date.today).count %></td>
    <td><%= @participant.thoughts.last_seven_days.count %></td>
    <td><%= @participant.thoughts.count %></td>
  </tr>
  <tr id="<%= @participant.id %>-activties-planned-totals">
    <td><a href="#">Activities Planned</a></td>
    <td><%= @participant.activities.planned.for_day(Date.today).count %></td>
    <td><%= @participant.activities.planned.last_seven_days.count %></td>
    <td><%= @participant.activities.planned.count %></td>
  </tr>
  <tr id="<%= @participant.id %>-activities-monitored-totals">
    <td><a href="#">Activities Monitored</a></td>
    <td><%= @participant.activities.monitored.for_day(Date.today).count %></td>
    <td><%= @participant.activities.monitored.last_seven_days.count %></td>
    <td><%= @participant.activities.monitored.count %></td>
  </tr>
  <tr id="<%= @participant.id %>-activities-reviewed-complete-totals">
    <td><a href="#">Activities Reviewed and Completed</a></td>
    <td><%= @participant.activities.reviewed_and_complete.for_day(Date.today).count %></td>
    <td><%= @participant.activities.reviewed_and_complete.last_seven_days.count %></td>
    <td><%= @participant.activities.reviewed_and_complete.count %></td>
  </tr>
  <tr id="<%= @participant.id %>-activities-reviewed-incomplete-totals">
    <td><a href="#">Activities Reviewed and Incomplete</a></td>
    <td><%= @participant.activities.reviewed_and_incomplete.for_day(Date.today).count %></td>
    <td><%= @participant.activities.reviewed_and_incomplete.last_seven_days.count %></td>
    <td><%= @participant.activities.reviewed_and_incomplete.count %></td>
  </tr>
  </tbody>
</table>