<h1>Site messages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Subject</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_messages.each do |site_message| %>
      <tr>
        <td><%= site_message.participant.study_id %></td>
        <td><%= site_message.subject %></td>
        <td><%= site_message.body %></td>
        <td><%= link_to 'Show', site_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site message', new_site_message_path %>
