<h1>Listing Site Messages</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Coach Dashboard", coach_dashboard_index_path, class: "btn btn-default" %>
  <%= link_to "New", new_site_message_path, class: "btn btn-default" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Subject</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_messages.each do |site_message| %>
      <tr>
        <td><%= site_message.participant.study_id %></td>
        <td><%= site_message.subject %></td>
        <td><%= site_message.body %></td>
        <td><%= link_to 'Show', site_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>