<h1>Listing Site Messages <small><%= @group.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Group", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.group_path(@group) : "#"), class: "btn btn-default" %>
  <%= link_to "New", new_coach_group_site_message_path(@group), class: "btn btn-default" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Subject</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_messages.each do |site_message| %>
      <tr>
        <td><%= site_message.participant.study_id %></td>
        <td><%= site_message.subject %></td>
        <td><%= site_message.body %></td>
        <td><%= link_to 'Show', site_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>