<nav id="SCNavbar" class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <% if @navigator %>
        <button type="hamburger_button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <a class="navbar-brand hidden-lg hidden-md" href="<%= brand_location %>"><%= params[:context_name] ? "<p>#{params[:context_name]}</p>".html_safe : "ThinkFeelDo" %></a>
      <a class="navbar-brand hidden-sm hidden-xs" href="<%= brand_location %>">ThinkFeelDo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to fa_icon("sign-out", text: "Sign Out"), destroy_user_session_path, method: :delete %></li>
        </ul>
        <p class="navbar-text navbar-right">Signed in as <%= current_user.email %></p>
      <% end %>
    </div>
  </div>
</nav>
