<h1>Slideshows</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Content Dashboard", arm_content_dashboard_index_path(@arm), class: "btn btn-default" %>
	<%= link_to "New", new_arm_bit_maker_slideshow_path(@arm), class: "btn btn-default" %>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>No. of Slides</th>
			<th>Created At</th>
			<th>Updated At</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @slideshows.each do |slideshow| %>
			<tr id="slideshow-<%= slideshow.id %>">
				<td>
					<%= link_to slideshow.pretty_title, arm_bit_maker_slideshow_path(@arm, slideshow) %>
				</td>
				<td><%= slideshow.slides.count %></td>
				<td><%= slideshow.created_at.to_s :date_time_with_meridian %></td>
				<td><%= slideshow.updated_at.to_s :date_time_with_meridian %></td>
				<td>
					<%= link_to "Edit", edit_arm_bit_maker_slideshow_path(@arm, slideshow), class: "btn btn-default" %>
					<%= link_to "Delete", arm_bit_maker_slideshow_path(@arm, slideshow), :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
  $(function() {
    return $('table').dataTable({
      sPaginationType: 'bootstrap',
      iDisplayLength: 25,
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });
</script>
