<h1>Slideshow <small><%= @slideshow.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Slideshows", arm_bit_maker_slideshows_path(@arm), class: "btn btn-default" %>
	<%= link_to "Add Slide", new_arm_bit_maker_slideshow_slide_path(@arm,@slideshow), class: "btn btn-default" %>
	<%= link_to "Add Video Slide", new_arm_bit_maker_slideshow_slide_path(@arm, @slideshow, type: "BitCore::VideoSlide"), class: "btn btn-default" %>
	<%= link_to "Add Audio Slide", new_arm_bit_maker_slideshow_slide_path(@arm, @slideshow, type: "BitCore::AudioSlide"), class: "btn btn-default" %>
  <%= link_to "Add Table of Contents", new_arm_bit_maker_slideshow_slide_path(@arm, @slideshow, type: "TableOfContents"), class: "btn btn-default" %>
  <%= link_to "Edit", edit_arm_bit_maker_slideshow_path(@arm, @slideshow), class: "btn btn-default" %>
	<%= link_to "Delete", arm_bit_maker_slideshow_path(@arm, @slideshow), :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<h3>Anchors</h3>

<%= form_tag arm_bit_maker_slideshow_slideshow_anchors_path(@arm,slideshow_id: @slideshow.id), remote: true do %>
  <% SlideshowAnchor::TARGET_NAMES.each do |tn| %>
    <% anchor = (@anchors[tn] || []).first %>
    <%= hidden_field_tag "id_to_destroy", anchor.try(:id), :"data-target-name" => tn %>
    <%= check_box_tag "slideshow_anchor[target_name]", tn, anchor.present? %> <%= tn %>
  <% end %>

  <%= submit_tag "Ok", class: "btn btn-default" %>
<% end %>

<h3>Slides</h3>

<ol id="sortable-slides" data-update-url="<%= sort_arm_bit_maker_slideshow_slides_url(@arm,@slideshow) %>">
	<% @slideshow.slides.each do |slide| %>
		<li class="slide" id="slide_<%= slide.id %>">
			<span>
				<span class="handle"><%= fa_icon("sort", class: "fa-lg") %></span>
			</span>

			<span>
				<%= link_to slide.title, arm_bit_maker_slideshow_slide_path(@arm,@slideshow, slide) %>
			</span>

			<span>
				<%= link_to "Edit", edit_arm_bit_maker_slideshow_slide_path(@arm,@slideshow, slide), class: "btn btn-default" %>
				<%= link_to "Remove", arm_bit_maker_slideshow_slide_path(@arm,@slideshow, slide), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
			</span>
		</li>
	<% end %>
</ol>

