<tr id="thought-<%= thought.id %>">
  <td><%= text_field_tag "thought[content]", thought.content %></td>
  <td><%= select_tag "thought[effect]", options_for_select(%w(helpful harmful neither), thought.effect) %></td>
  <td><%= select_tag "thought[pattern_id]", options_from_collection_for_select(ThoughtPattern.all, "id", "title", thought.pattern_id) %></td>
  <td><%= text_field_tag "thought[challenging_thought]", thought.challenging_thought %></td>
  <td><%= text_field_tag "thought[act_as_if]", thought.act_as_if %></td>
  <td><%= thought.created_at.to_s(:date_time_with_meridian) %></td>
  <td><%= hidden_field_tag "thought[id]", thought.id %><%= submit_tag "Save", class: "btn btn-default" %></td>
</tr>
