<h2>Add a New Thought</h2>

<%= form_for thought, url: create_path, method: "post", html: { role: "form", onsubmit: "validatePublic(event)" } do |f| %>
  <%= render 'think_feel_do_engine/thoughts/harmful_thought', f: f %>

  <%= render 'think_feel_do_engine/thoughts/thought_effects', f: f, thought: thought %>

  <%= render 'think_feel_do_engine/thoughts/thought_patterns', f: f %>

  <div class="form-group">
    <%= f.label :challenging_thought, "Challenging Thought" %>
    <%= f.text_field :challenging_thought, placeholder: "example: The present doesn't always predict the future", class: "form-control suggested" %>
  </div>

  <div class="form-group">
    <%= f.label :act_as_if, "As If Action" %>
    <%= f.text_field :act_as_if, placeholder: "example: Try my hardest anyway and see if I can improve", class: "form-control suggested" %>
  </div>

  <span class="new-shareable-form-after-form-groups" data-item-type="thought" data-action-type="created"></span>

  <div class="btn-group pull-right">
    <%= link_to 'Cancel', "/navigator/contexts/THINK", class: 'btn btn-default' %>
    <%= content_tag(:button, "Continue", type: "submit", class: "btn btn-primary") %>
  </div>
<% end %>

<script>
    var validatedSubmit = false;
    var validatePublic = function(event) {
        if(!validatedSubmit) {
            if ($('#activity_shared_item_1').is(':checked')) {
                if (confirm('Are you sure that you would like to make this activity public?')) {
                    validatedSubmit = true;
                    return true;
                } else {
                    event.preventDefault();
                    return false;
                }
            }
        }
    }
</script>