<tr class=<%= get_color_class(activity) %>>
  <td class="not-displayed">
    <%= activity.start_time ? activity.start_time.to_i : 0 %>
  </td>
  <td class="not-displayed">
    <%= activity.created_at ? activity.created_at.to_i : 0 %>
  </td>
  <td><%= activity.title %></td>
  <td><%= activity.predicted_pleasure_intensity ? activity.predicted_pleasure_intensity : "<span class=\"label label-warning\">Not Rated</span>".html_safe %></td>
  <td><%= activity.predicted_accomplishment_intensity ? activity.predicted_accomplishment_intensity : "<span class=\"label label-warning\">Not Rated</span>".html_safe%></td>
  <td><%= activity.start_time? ? "Scheduled for #{ activity.start_time.to_formatted_s(:short) }" : "Unscheduled" %></td>
  <td><%= activity.created_at.to_formatted_s(:short) %></td>
</tr>
