<tr id="activity-<%= mutable_activity.id %>">
  <td class="ignore_cell" style="display: none;"><%= mutable_activity.start_time ? mutable_activity.start_time.to_i : 0 %></td>
  <td class="responsive-header"><%= mutable_activity.start_time ? mutable_activity.start_time.to_s(:brief_date_time) : "<span class=\"label label-warning\">Not Available</span>".html_safe%></td>
  <td><%= mutable_activity.title %></td>
  <td>
    <span class="immutable-activity-content"><%= (mutable_activity.actual_pleasure_intensity ? mutable_activity.actual_pleasure_intensity : "<span class=\"label label-warning\">Not Answered</span>".html_safe) %></span>
    <%= select_tag "activities[#{ mutable_activity.id }][actual_pleasure_intensity]", options_for_select(0..10, mutable_activity.actual_pleasure_intensity), prompt: "Select...", style: "display: none;" %>
  </td>
  <td>
    <span class="immutable-activity-content"><%= (mutable_activity.actual_accomplishment_intensity ? mutable_activity.actual_accomplishment_intensity : "<span class=\"label label-warning\">Not Answered</span>".html_safe) %></span>
    <%= select_tag "activities[#{ mutable_activity.id }][actual_accomplishment_intensity]", options_for_select(0..10, mutable_activity.actual_accomplishment_intensity), prompt: "Select...", style: "display: none;" %>
  </td>
  <td class="ignore_cell"><%= submit_tag "Save", name: "activities[commit_id][#{ mutable_activity.id }]", class: "btn btn-default", style: "display: none;" %></td>
</tr>
