<div class="panel-group accordian-dual">
  <div class="landing_panel panel panel-default accor-panel" data-toggle <%= "data-target=\"\##{table_name}\"".html_safe %> >
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a>
          <%= table_name.gsub('_', ' ') %>
        </a>
      </h3>
    </div>
    <div <%= "id=\"#{table_name}\"".html_safe %> class="panel-collapse collapse in">
      <div class="panel-body">
        <p>
          <%= subtitle %>
          <%= link_to "Edit", edit_link, class: "btn btn-primary pull-right" if edit_link %>
        </p>

        <table class="table responsive <%=table_name%>">
          <thead>
            <th>Activity Test</th>
            <th>Planned For</th>
            <th>Predicted Pleasure Value</th>
            <th>Predicted Accomplishment Value</th>
          </thead>
          <tbody>
            <%= render partial: 'think_feel_do_engine/activities/past_due_rows', collection: activity_list, as: :activity %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$("table.<%=table_name%>").ngResponsiveTables({
      smallPaddingCharNo: 13,
    mediumPaddingCharNo: 18,
    largePaddingCharNo: 30,
    shiftedIndex:0
    });
</script>
