<h1>PHQ-9</h1>

<p>Over the last week, how many days have you been bothered by any of the following problems? Read each item carefully, and select your response.</p>

<%= form_for [:participants, @assessment], as: :assessment, url: participants_assessments_path, html: { class: "phq9-form" } do |f| %>
  <ol>
    <li class="radio-question-group">
      <strong>Little interest or pleasure in doing things</strong><br>
      <%= f.radio_button :q1, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q1, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q1, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q1, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Feeling down, depressed, or hopeless</strong><br>
      <%= f.radio_button :q2, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q2, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q2, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q2, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Trouble falling or staying asleep, or sleeping too much</strong><br>
      <%= f.radio_button :q3, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q3, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q3, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q3, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Feeling tired or having little energy</strong><br>
      <%= f.radio_button :q4, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q4, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q4, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q4, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Poor appetite or overeating</strong><br>
      <%= f.radio_button :q5, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q5, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q5, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q5, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Feeling bad about yourself, feeling that you are a failure, or feeling that you have let yourself or your family down</strong><br>
      <%= f.radio_button :q6, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q6, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q6, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q6, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Trouble concentrating on things such as reading the newspaper or watching television</strong><br>
      <%= f.radio_button :q7, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q7, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q7, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q7, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Moving or speaking so slowly that other people could have noticed. Or being so fidgety or restless that you have been moving around a lot more than usual</strong><br>
      <%= f.radio_button :q8, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q8, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q8, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q8, 3 %> 6 - 7 days
    </li>
    <li class="radio-question-group">
      <strong>Thinking that you would be better off dead or that you want to hurt yourself in some way</strong><br>
      <%= f.radio_button :q9, 0 %> 0 - 1 days<br>
      <%= f.radio_button :q9, 1 %> 2 - 3 days<br>
      <%= f.radio_button :q9, 2 %> 4 - 5 days<br>
      <%= f.radio_button :q9, 3 %> 6 - 7 days
    </li>
  </ol>
  <input name="assessment[token]" type="hidden" value="<%= @token %>" />
  <%= f.submit "submit", class: "btn btn-default" %>
<% end %>
<script type="text/javascript">
  $("body").addClass("phq_body");

  // TODO Wrap in submission event for phq form.
  var missing_answer = false;
  var missing_answer_list = "";
  $(".radio-question-group").each(function(index) {
    if (!$("input:radio[name='']:checked").val()) {
      missing_answer = true;
      var current_question = parseInt(index) + 1;
      console.log("q" + current_question);
      // TODO Add current question string
    }
  });
  // TODO Write conditional to display confirmation box on return if unanswered questions...
</script>