<h1>Working Alliance Inventory</h1>

<p>Below is a list of statements and questions about experiences people might have with their coach or therapist. Some items refer directly to your coach or therapist with an underlined space - as you read the sentences, mentally insert the name of your coach or therapist in place of ______ in the text. Think about your experience in treatment, and decide which category best describes your own experience.</p>

<p><strong>Your answers to these questions are for research only and will NOT be seen by your coach or therapist.</strong></p>

<p>Please take your time to consider each question carefully.</p>

<p>Your responses to these questions are keep confidential, and your therapist/coach will never see your responses.</p>

<%= form_for [:participants, @assessment], as: :assessment, url: participants_assessments_path do |f| %>
  <ol>
    <% [{ text: "As a result of these sessions I am clearer as to how I might be able to change.", reversed: false },
        { text: "What I am doing in therapy gives me new ways of looking at my problem.", reversed: true },
        { text: "I believe___likes me.", reversed: false },
        { text: "___and I collaborate on setting goals for my therapy.", reversed: false },
        { text: "___and I respect each other.", reversed: true },
        { text: "___and I are working towards mutually agreed upon goals.", reversed: true },
        { text: "I feel that___appreciates me.", reversed: false },
        { text: "_____ and I agree on what is important for me to work on.", reversed: true },
        { text: "I feel _____ cares about me even when I do things that he/she does not approve of.", reversed: false },
        { text: "I feel that the things I do in therapy will help me to accomplish the changes that I want.", reversed: true },
        { text: "_____ and I have established a good understanding of the kind of changes that would be good for me.", reversed: true },
        { text: "I believe the way we are working with my problem is correct.", reversed: false }].each_with_index do |question, i| %>
      <li class="radio-question-group">
        <strong><%= question[:text] %></strong><br>
        <% q = "q#{ i + 1 }" %>
        <% if question[:reversed] %>
          <%= f.radio_button q, 5 %> Always<br>
          <%= f.radio_button q, 4 %> Very Often<br>
          <%= f.radio_button q, 3 %> Fairly Often<br>
          <%= f.radio_button q, 2 %> Sometimes<br>
          <%= f.radio_button q, 1 %> Seldom
        <% else %>
          <%= f.radio_button q, 1 %> Seldom<br>
          <%= f.radio_button q, 2 %> Sometimes<br>
          <%= f.radio_button q, 3 %> Fairly Often<br>
          <%= f.radio_button q, 4 %> Very Often<br>
          <%= f.radio_button q, 5 %> Always
        <% end %>
      </li>
    <% end %>
  </ol>

  <input name="assessment[token]" type="hidden" value="<%= @token %>" />

  <%= f.submit "submit", class: "btn btn-default" %>
<% end %>
