<h1>Listing Tools <small><%= @arm.title %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Arm", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.arm_path(@arm) : "#"), class: "btn btn-default" %>
  <%= link_to "New", new_arm_bit_maker_tool_path(@arm), class: "btn btn-default" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Position</th>
      <th>Modules</th>
    </tr>
  </thead>

  <tbody>
    <% @tools.order(:position).each do |tool| %>
      <tr>
        <td><%= link_to tool.title, arm_bit_maker_tool_path(@arm, tool) %></td>
        <td><%= tool.position %></td>
        <td><%= tool.last_position %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function() {
    return $('table').dataTable({
      sPaginationType: 'bootstrap',
      iDisplayLength: 25,
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });
</script>
