<h1>Tool <small><%= @tool.title %></small></h1>

<%= link_to 'Edit', edit_bit_maker_tool_path(@tool), class: "btn btn-default" %>
<%= link_to 'Destroy', bit_maker_tool_path(@tool), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= "#{ @tool.position } / #{ BitCore::Tool.count }" %>
</p>

<p>
  <strong>Content Modules:</strong>
  <div class="list-group">
    <% @tool.content_modules.order(:position).each do |m| %>
      <%= link_to "#{ m.position } #{ m.title } <span class=\"badge\">#{ m.content_providers.count }</span>".html_safe, bit_maker_content_module_path(m), class: "list-group-item" %>
    <% end %>
  </div>
</p>
