<h1>New Slide for Lesson <small><%= @lesson.pretty_title %></small></h1>
<%= form_for(@slide, as: :slide, url: arm_lesson_lesson_slides_path(@arm, @lesson, @slide)) do |f| %>
	<%= render "fields", f: f, slide: @slide %>
	<%= f.submit "Create", class: "btn btn-default" %>
	<%= link_to "Cancel", arm_lesson_path(@arm, @lesson), class: "btn btn-default" %>
<% end %>
