<h1>New Slide for Lesson <em><%= @lesson.pretty_title %></em></h1>
<%= form_for(@slide, as: :slide, url: lesson_lesson_slides_path(@lesson, @slide)) do |f| %>
	<%= render "fields", f: f, slide: @slide %>
	<%= f.submit "Create", class: "btn btn-default" %>
	<%= link_to "Cancel", lesson_path(@lesson), class: "btn btn-default" %>
<% end %>
