<% if can? :show, patient %>
  <tr id="patient-<%= patient.id %>"
      class="<%= 'inactive' if view_membership(patient, @group) &&
              view_membership(patient, @group).end_date < Date.current %>
              <%= 'danger' if patient.phq_assessments.last.try(:suicidal?) %>" data-study-id="<%= patient.study_id %>">
    <td>
      <%= link_to patient.study_id, coach_group_patient_dashboard_path(@group, patient) %>
    </td>

    <td class="unread">
      <%= current_user.received_messages.sent_from(patient.id).unread.count %>
    </td>

    <td>
      <%= !view_membership(patient, @group).is_complete ? "Withdrawn " +
        l(view_membership(patient, @group).end_date, format: :standard) :
              "Discontinued " + l(view_membership(patient, @group).end_date, format: :standard)  %>
    </td>

    <td>
      <%= patient.sign_in_count %>
    </td>

    <td>
      <%= patient.current_sign_in_at ? l(patient.current_sign_in_at, format: :standard) : "Never Logged In" %>
    </td>

    <td>
      <% if view_membership(patient, @group).stepped_on %>
        <%= l(view_membership(patient, @group).stepped_on, format: :standard) %>
      <% end %>
    </td>
  </tr>
<% end %>
