<% if can? :show, patient %>
  <tr id="patient-<%= patient.id %>"
      class="<%= 'inactive' if view_membership(patient, @group) &&
              view_membership(patient, @group).end_date < Date.current %>
              <%= 'danger' if patient.phq_assessments.last.try(:suicidal?) %>" data-study-id="<%= patient.study_id %>">
    <td>
      <%= link_to patient.study_id, coach_group_patient_dashboard_path(@group, patient) %>
    </td>

    <td class="unread">
      <%= current_user.received_messages.sent_from(patient.id).unread.count %>
    </td>

    <td>
      <%= !view_membership(patient, @group).is_complete ? "Withdrawn " +
              patient.most_recent_membership.end_date.to_s(:compact) :
              "Discontinued " + patient.most_recent_membership.end_date.to_s(:compact)  %>
    </td>

    <td>
      <%= patient.sign_in_count %>
    </td>

    <td>
      <%= patient.current_sign_in_at ? patient.current_sign_in_at.to_s(:brief_date_time) : "Never Logged In" %>
    </td>

    <td>
      <% if patient.most_recent_membership.stepped_on != nil %>
        <%= patient.most_recent_membership.stepped_on.to_s(:compact) %>
      <% end %>
    </td>
  </tr>
<% end %>
