<% if can? :show, patient %>
  <tr id="patient-<%= patient.id %>" class="<%= 'inactive' if patient.active_membership && patient.active_membership.end_date < Date.current %> <%= 'danger' if patient.phq_assessments.last.try(:suicidal?) %>" data-study-id="<%= patient.study_id %>">
    <td>
      <%= link_to patient.study_id, coach_group_patient_dashboard_path(@group, patient) %>
    </td>

    <td class="unread">
      <%= current_user.received_messages.sent_from(patient.id).unread.count %>
    </td>

    <td>
      <% if @active_patients %>
       <%= (patient.active_membership.day_in_study / 7.0).ceil %>
      <% else %>
        <%= patient.is_not_allowed_in_site ? "Withdrawn " +
                patient.memberships.first.end_date.to_s :
                    "Discontinued " + patient.memberships.first.end_date.to_s %>
      <% end %>
    </td>

    <% if phq_features? && @active_patients %>
      <td>
        <% if (last_phq = patient.phq_assessments.last) %>
          <%- if last_phq.suicidal? -%><div class="label label-danger">PHQ-9 WARNING</div><%- end -%> <span class="bold"><%= last_phq.score %><%= last_phq.completed? ? "" : "*" %></span> on <%= last_phq.release_date.to_s(:brief_date) %>
        <% else %>
          <span class="label label-warning">No Completed Assessments</span>
        <% end %>
      </td>

      <td>
        <% if patient.phq_assessments.count > 0 %>
          <% suggestion = patient.stepping_suggestion %>
          <span class="label label-<%= suggestion.urgency %>"><%= suggestion.suggestion %></span>
        <% else %>
          <span class="label label-phq-none label-warning">No Completed Assessments</span>
        <% end %>
        <%= render "think_feel_do_engine/coach/patient_dashboards/details", patient: patient if patient.active_membership %>
      </td>
    <% end %>

    <td>
      <%= patient.sign_in_count %>
    </td>

    <td>
      <%= patient.current_sign_in_at ? patient.current_sign_in_at.to_s(:brief_date_time) : "Never Logged In" %>
    </td>
    <% if phq_features? && @active_patients %>
        <td>
          <% if patient.active_membership && patient.active_membership.is_stepped %>
              Stepped
          <% elsif patient.active_membership %>
              <% if can? :update, patient.active_membership %>
                  <%= form_for(patient.active_membership, url: coach_group_membership_path(@group, patient.active_membership), :html => { :method => :put }) do |f| %>
                      <%= f.hidden_field(:is_stepped, value: true) %>
                      <%= f.submit "Step", data: { confirm: "You can't undo this! Please make sure you really want to STEP this participant before confirming. Otherwise click CANCEL." }, class: "btn btn-success" %>
                  <% end %>
              <% end %>
          <% end %>
        </td>
    <% end %>
    <% if patient.active_membership && @active_patients %>
      <td>
        <%= form_for patient.active_membership do |f| %>
        <%= f.hidden_field :end_date %>
        <input type="text" class="datepicker" value="<%= patient.active_membership.end_date.strftime("%b %e, %Y").gsub(/  /, " ") %>" readonly="readonly">
      <% end %>
      </td>
      <td>
        <%= button_to "Discontinue",
                      discontinue_membership_path(patient.active_membership.id),
                      data: { confirm: "Are you sure you would like to end this study? You will not be able to undo this." },
                      method: :get,
                      class: "btn btn-primary" %>
      </td>
      <td>
        <%= button_to "Terminate Access",
                      withdraw_membership_path(patient.active_membership.id),
                      data: { confirm: "Are you sure you would like to terminate access to this membership? This option should also be used before changing membership of the patient to a different group or to completely revoke access to this membership. You will not be able to undo this." },
                      method: :get,
                      class: "btn btn-danger" %>
      </td>
    <% end %>
  </tr>
<% end %>
