<% init_summary_styles(test_summary) %>

<table class="table table-hover">
  <thead>
    <th>Test</th>
    <th>Result</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= "PHQ-9 Score >= #{test_summary[:upper_limit]} for two consecutive weeks" %>
      </td>
      <td>
        <%= result_span(step_string, step_label) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= "PHQ-9 Score < #{test_summary[:upper_limit]} and >= #{test_summary[:lower_limit]} in any week on or past week" %>
        <% if test_summary[:current_week] >= 14 %>
          <%= test_summary[:current_week] %>
        <% else %>
          <%= test_summary[:range_start] + 1 %>
        <% end %>
      </td>
      <td>
        <%= result_span(stay_string, stay_label) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= "PHQ-9 Score < 5 for two consecutive weeks" %>
      </td>
      <td>
        <%= result_span(release_string, release_label) %>
      </td>
    </tr>
  </tbody>
</table>