<h1><em><%= @group.title %></em> Patient Dashboard</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Group", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.group_path(@group) : "#"), class: "btn btn-default" %>
</div>

<div id="patient_dashboard_wrapper">
  <table class="table table-hover" id="patients">
    <thead>
      <tr>
        <th>Study Id</th>
        <th>Unread Messages</th>
        <th>Week in Treatment</th>
        <% if Rails.application.config.include_phq_features %>
          <th>Most Recent PHQ9 Score</th>
          <th>Step to t-CBT?</th>
        <% end %>
        <th># of Logins</th>
        <th>Last Login</th>
        <th>End Date</th>
        <th>Step Status<th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "think_feel_do_engine/coach/patient_dashboards/patient", collection: @patients, as: :patient %>
    </tbody>
  </table>

  <script>
    $('form.button_to input[type=submit]').addClass('btn btn-default');
  </script>
<% if Rails.application.config.include_phq_features %>
    <% @patients.each do |patient| %>
      <% if patient.active_membership %>
        <% suggestion = patient.stepping_suggestion %>
        <div
          id="phq_summary_patient-<%= patient.id %>"
          data-week="<%= suggestion.week.to_s + ' ( Started:' + patient.active_membership.start_date_american + ' )' %>"
          data-detailed_suggestion="<%= suggestion.detailed_suggestion %>"
          class="invis_phq_summary">
          <table>
          <tbody>
              <%= render partial: 'think_feel_do_engine/coach/patient_dashboards/phq_summary', collection: suggestion.assessments, as: :tested_weeks, locals: {test_summary: suggestion.results } %>
              </tbody>
          </table>
        </div>

        <div id="test_summary_patient-<%= patient.id %>" class="invis_phq_summary">
          <table>
            <tbody>
              <%= render partial: 'think_feel_do_engine/coach/patient_dashboards/test_summary', locals: {test_summary: suggestion.results }%>
              </tbody>
          </table>
        </div>
      <% end %>
    <% end %>

      <div id="phq_suggestion_explanation_div">
        <span>Patient:</span>
        <span id="phq_patientID" class="bold">PATIENT</span>
        <hr/>
        <span id="phq_weekInStudy">
          Week:
          <span id="phq_weekInStudy_bold" class="bold">
          </span>
        </span>
        <hr/>
        <span>Suggestion:</span>
        <span id="phq_patientSuggestion" class="bold">SUGGESTION</span>
        <hr/>

        <table id="phq_suggestion_explanation_table" class="table table-hover">
          <thead>
            <th>Week #</th>
            <th>Date</th>
            <th>PHQ-9 Score</th>
          </thead>
          <tbody>
          </tbody>
        </table>

        <span id="phq_copy_notice" class="phq_suffix_notice">
          <%= fa_icon("copy")%>
          PHQ9 assessment missing this week - values copied from previous assessment.
          <br/>
        </span>

        <span id="phq_missing_notice" class="phq_suffix_notice">
          <%= fa_icon("ban")%>
          PHQ9 assessment missing this week - no previous assessment data to copy from.
          <br/>
        </span>

        <span id="phq_answers_missing_notice" class="phq_suffix_notice">
          <%= fa_icon("question")%>
          PHQ9 assessment missing answers for up to 3 questions - using 1.5 to fill them in.
          <br/>
        </span>

        <span id="phq_unreliable_notice" class="phq_suffix_notice">
          <%= fa_icon("question-circle")%>
          PHQ9 assessment missing answers for more than 3 questions - data unreliable.
          <br/>
        </span>

        <hr id="sep_after_explanation_table"/>

        <table id="phq_suggestion_test_results" class="table table-hover">
          <thead>
            <th>Test</th>
            <th>Result</th>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
  </div>

  <script type="text/javascript"> enablePHQExplanationTable(); </script>
<% end %>
