<h1><em><%= @group.title %></em> Patient Dashboard</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Group", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.group_path(@group) : "#"), class: "btn btn-default" %>
  <%= link_to @active_patients ? "Inactive Patients" : "Active Patients",
              patient_button_link(@active_patients),
              class: "btn btn-default" %>

</div>

<% if !social_features? %>
    <h3>Not Stepped Patients</h3>
<% end %>
<%= render "think_feel_do_engine/coach/patient_dashboards/table", patients: @participants.not_stepped, table_id: "patients" %>

<% if !social_features? %>
    <h3>Stepped Patients</h3>
    <%= render "think_feel_do_engine/coach/patient_dashboards/table", patients: @participants.stepped, table_id: "stepped-patients" %>
<% end %>

<script type="text/javascript">
  $('form.button_to input[type=submit]').addClass('btn btn-default');
</script>
