<!-- Base set of tables. For app-specific tables, such as social or PHQ9, amend this file in the host app. -->

<%= render "think_feel_do_engine/coach/patient_dashboards/header" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/patient_info", patient: @participant %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/patient_login_stats", patient: @participant %>
<%= render "think_feel_do_engine/coach/patient_dashboards/table_of_contents" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/mood_emotion_viz" %>

<%= render "think_feel_do_engine/coach/patient_dashboards/tables/mood_table" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/feelings_table" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/logins_table" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/lessons_table" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/audio_access_table" %>

<h3><%= link_to "Activities visualization", coach_participant_activities_visualization_path(@participant) %></h3>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/future_activities_table" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/past_activities_table" %>

<h3><%= link_to "Thoughts visualization", coach_participant_thoughts_visualization_path(@participant) %></h3>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/thoughts_table" %>

<%= render "think_feel_do_engine/coach/patient_dashboards/tables/messages_table" %>
<%= render "think_feel_do_engine/coach/patient_dashboards/tables/tasks_table" %>

<script type="text/javascript">
  $(function() {
    return $('.generic-data-table').dataTable();
  });
</script>
