<% if @patient %>
  <h1>Participant <small><%= @patient.study_id %></small></h1>

  <div class="btn-toolbar" role="toolbar">
    <%= link_to "Patients", coach_group_patient_dashboards_path(@group), class: "btn btn-default" %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">General Patient Info</h3>
    </div>

    <div class="panel-body">
      <% if @patient.active_membership %>
        <p>
          <strong><i class="fa fa-calendar"></i> Started on:</strong>
          <%= @patient.active_membership.start_date.to_s :brief_date %>
        </p>
      <% end %>

      <p>
        <strong>Status:</strong>
        <% if @patient.active_membership && @patient.active_membership.is_complete == false %>
          <span class="label label-success full-size">Active</span> &middot; Currently in week <%= (@patient.active_membership.day_in_study / 7.0).ceil %>
        <% else %>
          <span class="label label-warning full-size">Inactive</span> &middot; Study has been Completed
        <% end %>
      </p>

      <p>
        <strong>Last Logged In:</strong>
        <%= @patient.current_sign_in_at ? @patient.current_sign_in_at.to_s(:brief_date_time) : "Never Logged In" %>
      </p>
    </div>
  </div>

  <h3>Table of Contents</h3>

  <ul class="list-group">
    <li class="list-group-item"><a href="#viz-container">Mood and Emotions Visualizations</a></li>
    <% if phq_features? %>
      <li class="list-group-item"><a href="#phq9-container">PHQ9</a></li>
    <% end %>
    <li class="list-group-item"><a href="#mood-container">Mood</a></li>
    <li class="list-group-item"><a href="#feelings-container">Feelings</a></li>
    <li class="list-group-item"><a href="#logins-container">Logins</a></li>
    <li class="list-group-item"><a href="#lessons-container">Lessons</a></li>
    <li class="list-group-item"><%= link_to "Activities visualization", coach_participant_activities_visualization_path(@patient) %></li>
    <li class="list-group-item"><a href="#activities-future-container">Activities - Future</a></li>
    <li class="list-group-item"><a href="#activities-past-container">Activities - Past</a></li>
    <li class="list-group-item"><%= link_to "Thoughts visualization", coach_participant_thoughts_visualization_path(@patient) %></li>
    <li class="list-group-item"><a href="#thoughts-container">Thoughts</a></li>
    <li class="list-group-item"><a href="#messages-container">Messages</a></li>
    <li class="list-group-item"><a href="#tasks-container">Tasks</a></li>
  </ul>

  <div class="panel panel-default" id="viz-container">
    <div class="panel-heading">
      <h3 class="panel-title">Mood and Emotions Visualizations</h3>
    </div>
    <%= render "think_feel_do_engine/coach/patient_dashboards/vizs", patient: @patient %>
  </div>

  <% if phq_features? %>
    <div class="panel panel-default cdb_panel" id="phq9-container">
      <div class="panel-heading">
        <h3 class="panel-title adjusted-panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#phqCollapse">
            PHQ9
          </a>
          <span class="text-primary"><%= link_to "Manage", coach_phq_assessments_path(participant_id: @patient.id) %></span>
        </h3>
      </div>

      <div id="phqCollapse" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="table-responsive div-table-viz">
            <table class="table table-hover generic-data-table data-table" id="phq_assessments">
              <thead>
                <tr>
                  <th>Release Date</th>
                  <th>Created Date</th>
                  <th>Assessment Score</th>
                  <th>Incomplete?</th>
                  <th>Q1</th>
                  <th>Q2</th>
                  <th>Q3</th>
                  <th>Q4</th>
                  <th>Q5</th>
                  <th>Q6</th>
                  <th>Q7</th>
                  <th>Q8</th>
                  <th>Q9</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "think_feel_do_engine/phq_assessments/phq_assessment", collection: @patient.phq_assessments.order(:release_date) %>
              </tbody>
            </table>
          </div>

          <p class="text-info">* Indicates an incomplete phq assessment.</p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default cdb_panel" id="mood-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#moodCollapse">
          Mood
        </a>
      </h3>
    </div>

    <div id="moodCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover data-table" id="moods-table">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th>Rating 0 (Bad) to 10 (Good)</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/moods/mood", collection: @patient.moods %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default cdb_panel" id="feelings-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#feelingsCollapse">
          Feelings
        </a>
      </h3>
    </div>

    <div id="feelingsCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover data-table" id="emotions-table">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th>Feeling</th>
                <th>Rating</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody>
              <%= render partial: "think_feel_do_engine/emotions/emotion_coach_view", collection: @patient.emotional_ratings, as: :emotional_rating %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default cdb_panel" id="logins-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#loginsCollapse">
          Logins
        </a>
      </h3>
    </div>

    <div id="loginsCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover  data-table" id="logins">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th>Date/Time of Login</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/login_events/login_event", collection: @patient.participant_login_events %>
            </tbody>
          </table>
        </div>

        <p id="login-count">Total: <%= @patient.participant_login_events.count %></p>
      </div>
    </div>
  </div>


  <div class="panel panel-default cdb_panel" id="lessons-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#lessonsCollapse">
          Lessons
        </a>
      </h3>
    </div>

    <div id="lessonsCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover data-table" id="learning_data">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th class="not-displayed"></th>
                <th class="not-displayed"></th>
                <th>Task</th>
                <th>Availability Day</th>
                <th>Started At</th>
                <th>Completed At</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/learn/completion_data", locals: { task_statuses: @learning_tasks } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default cdb_panel" id="media-access-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#mediaAccessCollapse">
          Audio Access
        </a>
      </h3>
    </div>

    <div id="mediaAccessCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover data-table" id="access_data">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th class="not-displayed"></th>
                <th class="not-displayed"></th>
                <th>Title</th>
                <th>Availability Day</th>
                <th>Started At</th>
                <th>Completed At</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/media_access_events/access_data", locals: { events: @patient.media_access_events } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <h3><%= link_to "Activities visualization", coach_participant_activities_visualization_path(@patient) %></h3>

  <div class="panel panel-default cdb_panel" id="activities-future-container">
    <div class="panel-heading">
      <h3 id="activities_future_h3" class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#activity_futureCollapse">
          Activities - Future
        </a>
      </h3>
    </div>
    <div id="activity_futureCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover  data-table" id="activities_future">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th class="not-displayed"></th>
                <th>Activity</th>
                <th>Predicted Pleasure Rating</th>
                <th>Predicted Accomplishment Rating</th>
                <th>Scheduled Date</th>
                <th>Created Date</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/activities/activity_coach_view_future", collection: @patient.activities.unscheduled_or_in_the_future, as: :activity %>
            </tbody>
          </table>

          <table id="activities_legend" class="table">
            <tr>
              <td class="success">High Pleasure/Accomplishment</td>
              <td class="info">Low Pleasure, High Accomplishment</td>
              <td class="warning">High Pleasure, Low Accomplishment</td>
              <td class="danger">Low Pleasure/Accomplishment</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default cdb_panel" id="activities-past-container">
    <div class="panel-heading">
      <h3 id="activities_past_h3" class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#activity_pastCollapse">
          Activities - Past
        </a>
      </h3>
    </div>

    <div id="activity_pastCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover  data-table" id="activities_past">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th class="not-displayed"></th>
                <th>Activity</th>
                <th>Planned/Monitored</th>
                <th>Status</th>
                <th>Predicted Pleasure Rating</th>
                <th>Predicted Accomplishment Rating</th>
                <th>Actual Pleasure Rating</th>
                <th>Actual Accomplishment Rating</th>
                <th>Scheduled Date</th>
                <th>Created Date</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/activities/activity_coach_view_past", collection: @patient.activities.in_the_past, as: :activity %>
            </tbody>
          </table>

          <table id="activities_legend" class="table">
            <tr>
              <td class="success">High Pleasure/Accomplishment</td>
              <td class="info">Low Pleasure, High Accomplishment</td>
              <td class="warning">High Pleasure, Low Accomplishment</td>
              <td class="danger">Low Pleasure/Accomplishment</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <h3><%= link_to "Thoughts visualization", coach_participant_thoughts_visualization_path(@patient) %></h3>

  <div class="panel panel-default cdb_panel" id="thoughts-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#thoughtsCollapse">
          Thoughts
        </a>
      </h3>
    </div>

    <div id="thoughtsCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover generic-data-table data-table" id="thoughts">
            <thead>
              <th>Thought</th>
              <th>Effect</th>
              <th>Pattern</th>
              <th>Challenging Thought</th>
              <th>As If Thought</th>
              <th>Date</th>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/thoughts/thought", collection: @patient.thoughts %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default cdb_panel" id="messages-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#messagesCollapse">
          Messages
        </a>
      </h3>
    </div>

    <div id="messagesCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover generic-data-table data-table" id="messages">
            <thead>
              <tr>
                <th>Message</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/messages/message", collection: @patient.sent_messages %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default cdb_panel" id="tasks-container">
    <div class="panel-heading">
      <h3 class="panel-title adjusted-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tasksCollapse">
          Tasks
        </a>
      </h3>
    </div>

    <div id="tasksCollapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="table-responsive div-table-viz">
          <table class="table table-hover data-table" id="task_statuses">
            <thead>
              <tr>
                <th class="not-displayed"></th>
                <th>Task</th>
                <th>Availability Day</th>
                <th>Completed At</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "think_feel_do_engine/task_statuses/task_status", collection: @patient.active_membership.try(:task_statuses) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function() {
    return $('.generic-data-table').dataTable({
      sPaginationType: 'bootstrap',
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });

  $(function() {
      return $('#learning_data').dataTable({
          sPaginationType: 'bootstrap',
          order: [[0, "desc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [4],
                  iDataSort: [0]
              },
              {
                  aTargets: [1],
                  bVisible: false
              },
              {
                  aTargets: [5],
                  iDataSort: [1]
              },
              {
                  aTargets: [2],
                  bVisible: false
              },
              {
                  aTargets: [6],
                  iDataSort: [2]
              }
          ],
          oLanguage: {
              sSearch: 'Filter: '
          }
      });
  });

  $(function() {
      return $('#task_statuses').dataTable({
          sPaginationType: 'bootstrap',
          order: [[0, "asc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [3],
                  iDataSort: [0]
              }
          ],
          oLanguage: {
              sSearch: 'Filter: '
          }
      });
  });

  $(function() {
      return $('#moods-table').dataTable({
          sPaginationType: 'bootstrap',
          order: [[2, "desc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [2],
                  iDataSort: [0]
              }
          ]
      });
  });

  $(function() {
      return $('#emotions-table').dataTable({
          sPaginationType: 'bootstrap',
          order: [[2, "desc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [2],
                  iDataSort: [0]
              }
          ]
      });
  });

  $(function() {
      return $('#activities_future').dataTable({
          sPaginationType: 'bootstrap',
          order: [[6, "desc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [5],
                  iDataSort: [0]
              },
              {
                  aTargets: [1],
                  bVisible: false
              },
              {
                  aTargets: [6],
                  iDataSort: [1]
              }
          ]
      });
  });

  $(function() {
      return $('#activities_past').dataTable({
          sPaginationType: 'bootstrap',
          order: [[10, "desc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [9],
                  iDataSort: [0]
              },
              {
                  aTargets: [1],
                  bVisible: false
              },
              {
                  aTargets: [10],
                  iDataSort: [1]
              }
          ]
      });
  });

  $(function() {
      return $('#logins').dataTable({
          sPaginationType: 'bootstrap',
          order: [[1, "desc"]],
          oLanguage: {
              sSearch: 'Filter: '
          },
          aoColumnDefs: [
              {
                  aTargets: [0],
                  bVisible: false
              },
              {
                  aTargets: [1],
                  iDataSort: [0]
              }
          ]
      });
  });

</script>
