<!DOCTYPE html>
<html>
  <head>
    <%= render "think_feel_do_engine/shared/head" %>
  </head>

  <body>
    <div class="container">
      <h1 class="logo"><span class="think">Think</span><span class="feel">Feel</span><span class="do">Do</span></h1>
      <div class="container" id="alerts">
        <%= render "think_feel_do_engine/shared/alerts" %>
      </div>

      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="sidebar well">
            <%= link_to "Tasks", manage_tasks_group_path %>
          </div>
        </div>

        <div class="col-md-10 col-lg-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'think_feel_do_engine/shared/footer' %>
  </body>
</html>
