<!DOCTYPE html>
<html>
  <head>
    <%= render 'think_feel_do_engine/shared/head' %>
  </head>

  <body ng-app="socialNetworking">
    <div id="wrap" class="snap-content footless">
      <div id="footer-wrap">
        <div id="main">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <% if content_for?(:mobile_nav_items) %>
                  <button type="button" class="navbar-toggle pull-left" id="hamburger_button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <% end %>

                <%= link_to "ThinkFeelDo", brand_location, class: "navbar-brand" %>

                <ul class="nav navbar-nav pull-right visible-xs-block" style="margin-right: 10px;">
                  <%= yield :mobile_nav_right_item %>
                </ul>
              </div>

              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                  <%= yield :desktop_nav_items %>
                </ul>
              </div>
            </div>
          </nav>

          <div class="container" id="alerts">
            <%= render 'think_feel_do_engine/shared/alerts' %>
          </div>

          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>

      <%= render 'think_feel_do_engine/shared/footer' %>
    </div>

    <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left">
        <ul id="snap-navbar" class="nav navbar-nav navbar-snap">
          <%= yield :mobile_nav_items %>
        </ul>
      </div>
    </div>

    <%= yield :bottom %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "think_feel_do_engine/devise/passwords/edit" %>
  </body>
</html>
